.login-container {
    padding: 120px 5% 50px;
    max-width: 400px;
    margin: auto;
}

.login-container h1 {
    color: var(--primary-color);
    margin-bottom: 2rem;
    text-align: center;
}

.form-group {
    margin-bottom: 1.5rem;
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #888;
}

.form-group input {
    width: 100%;
    padding: 0.8rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.login-button {
    width: 100%;
    padding: 1rem;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: var(--secondary-color);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.login-button:hover {
    background-color: var(--hover-color);
} 